.container {
    display: flex;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: white;
}

.containerItem {
    display: flex;
    width: -webkit-fill-available;
    align-content: center;;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.logoContainer {
    display: flex;
    width: 25%;
    align-content: center;;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.navListContainer {
    display: flex;
    width: 50%;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.btnContainer {
    display: flex;
    width: 25%;
    align-content: center;;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.listContainer {
    width: 65%;
    height: 100%;
    justify-content: space-between;
    display: flex;
}